<%! from django.utils.translation import ugettext as _ %>

<%inherit file="base.html" />

<%block name="title">站内消息</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>


<%block name="content">
<section class="container">

    <div class="wrapper-mast wrapper">
        <header class="mast has-actions">
            <h3 class='page-header'>站内消息</h3>
        </header>
        <div>
        </div>

        <div class="wrapper-content wrapper">
            <section class="content">
                <iframe src="${request_url}" frameborder="0" id="bs_cert" style="overflow:hidden;min-height: 680px;width:100%" height="100%" width="100%">
                </iframe>
            </section>
        </div>
</section>
</%block>