<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%! from microsite_configuration import microsite %>

<link rel="stylesheet" href="/static/css/header/header.css" />
<div class="header-navigation">
    <div class="header-wall">
       <a class="line" href="http://www.xiaodun.cn/index1.html">首页</a>
       <a class="line" href="http://www.xiaodun.cn/course.html">课程</a>
       <a class="line" href="http://www.xiaodun.cn/base.html">基地</a>
       <a class="line" href="http://www.xiaodun.cn/announcement.html">公告</a>
       <a class="line" href="http://www.xiaodun.cn/service.html">服务</a>
       <a class="none" href="http://www.xiaodun.cn/about.html">关于</a>
    </div>
</div>

<section class="find-courses">

<%
  course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore free courses from leading universities."))

  # not sure why this is, but if I use static.url('images/edx_bw.png') then the HTML rendering
  # of this template goes wonky

  logo_file = microsite.get_value(
    'course_index_overlay_logo_file', settings.STATIC_URL + 'images/edx_bw.png')
%>

<style type="text/css">
#search-form{
    align: center;
}
#search-form input[type=text]{
    width: 370px;
}
</style>
<script type="text/javascript">
$("#search-form").submit(function(){
    $("#search-query").val($.trim($("#search-query").val()))
})
</script>

<script type="text/javascript">
$("#search-form").submit(function(){
    $("#search-query").val($.trim($("#search-query").val()))
})
function chkform(obj){
    var search_value = $('#search-query').val()
    if (search_value == "" || search_value == "请输入关键字..." ){
        $("#remind").html("<p><strong>搜索内容不能为空！</strong></p>");
        return false;
    }

    return true;
}
</script>

  <header class="search">
    <div class="inner-wrapper main-search">
    </div>
  </header>

  <section class="container">
    <section class="filter" style="z-index:150;">
       <nav>
        <form name="queryform" class="search-container search" id="search-form" action="/courses" method="get" onsubmit="return chkform(this)">
          <!--<input type="text" id="search-query" name="query"  onfocus="if (value =='请输入关键字...'){value =''}" onblur="if (value ==''){value='请输入关键字...'}" value="">-->
          <table>
              <tr>
                  <td><div id="remind"></div></td>
                  <td><input type="text" id="search-query" name="query"  placeholder="请输入关键字..." onfocus="placeholder =''" onblur="placeholder='请输入关键字...'" value=""></td>
                  <td><input type="submit" value="搜索"></td>
              </tr>
          </table>
        </form>
       </nav>
    </section>

    <section class="courses">
      <ul class="courses-listing">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </section>

  </section>
</section>
