@charset"utf-8";
/* CSS Document */
/*.fl{ float: left; }
.fr{ float: right; }*/
li a:link, li a:visited{color:#7f7f7f;}
li a:hover, li a:active{color:#ff7a31;}
/*------------------content-------------*/

/*.course-content {max-width: 1180px; width: 100%; margin: 40px auto; padding: 0px;}
.course-content .content-body {width: 100%; margin: auto;}
.course-content .content-body ul li{ list-style: none;}

.content-content table {border: 1px solid #dddddd;}
.content-content table tr {height: 40px; border: 1px solid #dddddd;}
.content-content table tr td.title {width: 20%;}*/
.course-content { margin: 40px auto; padding:0; max-width: 1180px; width:100%; }
.course-content .content-body { margin:auto; width:100%; font: 13px/1.6 Microsoft YaHei,SimSun,tahoma,arial,sans-serif;}
.course-content .content-body ul li{ list-style: none;}

.course-content .selection-panel{display: inline;width: 100%;}

.course-content .filter{
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    height: auto;
    line-height: 40px;
    overflow: hidden;
    width: 100%;
}
.course-content .filter-title{
    background: #f7f7f7 none repeat scroll 0 0;
    height: 40px;
    width: 150px;
}
.course-content .filter-title span{ font-weight:bold; color:#ff7a31;padding-left:10px;}
.course-content .filter-ul{
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    height: auto;
    line-height: 40px;
    overflow: hidden;
    width: 100%;
}
.course-content #searbar{  }
.course-content #searbar li{ float: left; margin: -13px 0 0 10px; }
.course-content #searbar li div{ height: 20px; padding: 0; margin: 10px; border: 1px solid #dddddd; }
.course-content #searbar li div:hover{ height: 23px; padding: 0; margin: 10px; border: 1px solid #dddddd; background-color: #CCC; }
.course-content #searbar li div span{ line-height:20px; text-align:center; float:left; }
.course-content #searbar li div strong{ line-height:20px; text-align:center; float:left; }
.course-content #searbar li{ display: none; }
.course-content .select-menu{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    width: 100%;
}
.course-content .select-base{ height:40px; width:100%; position:absolute; left:0; top:0;}
.course-content .base{ height:40px; width:960px;padding-left:40px; position:absolute; left:0; top:0;}
.course-content .base li{ float:left;}
.course-content .base-left{ float:left; height:40px; line-height:40px; font-weight:bold;}
.course-content .base-right ul{ float:left;}
.course-content .base-right li{float:left; height:40px; line-height:40px; margin-top: -13px;}
.course-content .base .tab{ width:40px;height:40px; line-height:40px; font-weight:bold;}
.course-content .base li{height:40px; line-height:40px; color:#666; cursor:pointer;}
.course-content .base li span{padding:0 10px; height:40px; line-height:40px; color:#666; cursor:pointer; display:block;}
.course-content .base-right li span:hover{background:#ff7a31; padding:0 10px; height:40px; color:#fff;}
.course-content .base-right .live span{background:#ff7a31; padding: 10px 10px 0; height:30px; color:#fff;width:auto;}
.course-content .base-more{ width:70px; height:40px; line-height:40px;}

.course-content .select-subject{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin-left: -1px;
    overflow: hidden;
    width: 100%;
}
.course-content .subject {
    padding-left: 40px;
    width: 960px;
}
.course-content .subject-left {float:left; height:40px; line-height:40px; font-weight:bold;}
.course-content .subject-right {
    float: left;
    width: 914px;
}
.course-content .subject-right ul {
    float: left;
    margin-bottom: 0;
}
.course-content .subject-right li { float:left; height:40px; line-height:40px; margin-top: -13px; color:#666; cursor:pointer;}
.course-content .subject-right li span {padding:0 10px; height:40px; display:block; padding-top: 10px;}
.course-content .subject-right li span:hover{background:#ff7a31; padding: 10px 10px 0px; height:30px; color:#fff;}
.course-content .subject-right .live li span {background:#ff7a31; padding: 10px 10px 0; height:30px; color:#fff; width:auto;}

.course-content .select-agency{
    background: #ffffff;
    margin-left: -1px;
    overflow: hidden;
    width: 100%;
    border-left: 1px solid #ccc;
}
.course-content .agency{
    padding-left: 40px;
    width: 960px;
}
.course-content .agency-left{
    float: left;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    width: 45px;
}
.course-content .agency-right{ float:left; width:914px;}
.course-content .agency-right ul{
    float: left;
    margin-bottom: 0;
}
.course-content .agency-right li{float:left;height:40px; line-height:40px; margin-top: -13px; color:#666; cursor:pointer;}
.course-content .agency-right li span{padding:0 10px; height:40px; display:block; padding-top: 10px;}
.course-content .agency-right li span:hover{background:#ff7a31; padding: 10px 10px 0px; height:30px; color:#fff;}
.course-content .agency-right .live span{background:#ff7a31; padding: 10px 10px 0; height:30px; color:#fff;width:auto;}

.course-content .agency-more{ float:right;width:70px; height:40px; line-height:40px;}

.course-content .select-sort{ float:left; height:40px; width:100%; position:absolute; background:#ffffff; left:0;top:80px;border: 1px solid #dddddd; margin-left:-1px;}
.course-content .sort{height: 40px; width: 960px;padding-left: 40px;position: absolute;left: -10px;top: 0px;}

.course-content .select-sort li{float:left; height:40px; line-height:40px;}
.course-content .select-sort li span{padding:0 10px; height:40px; display:block; color:#666;}
.course-content .select-sort li span:hover{background:#ff7a31; padding:0 10px; display:block; height:40px; color:#fff;}
.course-content .select-sort .live span{background:#ff7a31; padding: 10px 10px 0; height:30px; display:block; color:#fff;width:auto;}

.course-content .sort-left{float:left; height:40px; line-height:40px; font-weight:bold;}
.course-content .sort-right ul{float:left;}
.course-content .sort-right li{float:left; height:40px; line-height:40px; color:#666; cursor:pointer;}

.course-content .select-level{
    background: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
    overflow: hidden;
    width: 100%;
}
.course-content .level{
    padding-left: 40px;
    width: 960px;
}
.course-content .level-left{float:left; height:40px; line-height:40px; font-weight:bold;}
.course-content .level-right{float:left; width:914px;}
.course-content .level-right ul{
    float: left;
    margin-bottom: 0;
}
.course-content .level-right li{ float:left; height:40px; line-height:40px; margin-top: -13px;}
.course-content .level li{ float:left; height:40px; line-height:40px; color:#666; cursor:pointer;}
.course-content .level li span{height:40px; padding: 0 10px; display:block; color:#fff; color: #666}
.course-content .level li span:hover{background:#ff7a31;  height:30px; padding: 10px 10px 0; display:block; color:#fff;}
.course-content .level .live span{background:#ff7a31;  padding: 10px 10px 0; height:30px; display:block; color:#fff;width:auto;}

.course-content .level li span{height:40px; display:block; padding: 10px 10px 0;}
.course-content .level-more{ width:200px; background:#ffffff;  position:absolute; text-align:center; height:40px; line-height:40px;border: 1px solid #dddddd; border-top: 1px solid #ffffff;left:40%;top:40px;}

.course-content .live span{background:#ff7a31; height:40px; color:#fff;}