<%inherit file="wechat_main.html" />
<%! from microsite_configuration import microsite %>
<%namespace name='static' file='/static_content.html'/>

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // show forgot password modal UI if URL contains matching DOM ID
      if ($.deparam.fragment()['forgot-password-modal'] !== undefined) {
        $('.pwd-reset').click();
      }

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });

    (function() {
      toggleSubmitButton(true);

      $('#login-form').on('submit', function() {
        toggleSubmitButton(false);
      });

      $('#login-form').on('ajax:error', function() {
        toggleSubmitButton(true);
      });

      $('#login-form').on('ajax:success', function(event, json, xhr) {
        if(json.success) {
          var u=decodeURI(window.location.search);
          next=u.split("next=")[1];
          if (next && !isExternal(next)) {
            location.href=next;
          }  else if(json.redirect_url){
            location.href=json.redirect_url;
          } else {
            location.href="${reverse('dashboard')}";
          }
        } else if(json.hasOwnProperty('redirect')) {
          var u=decodeURI(window.location.search);
          if (!isExternal(json.redirect)) { // a paranoid check.  Our server is the one providing json.redirect
              location.href=json.redirect+u;
          } // else we just remain on this page, which is fine since this particular path implies a login failure
            // that has been generated via packet tampering (json.redirect has been messed with).
        } else {
          toggleSubmitButton(true);
          $('.message.submission-error').addClass('is-shown').focus();
          $('.message.submission-error .message-copy').html(json.errmsg);
        }
      });
      $("#forgot-password-link").click(function() {
        $("#forgot-password-modal .close-modal").focus();
      })
    })(this);

    function toggleSubmitButton(enable) {
      var $submitButton = $('form .form-actions #submit');

      if(enable) {
        $submitButton.
          removeClass('is-disabled').
          removeProp('disabled').
          html("登录进入我的课程");
      }
      else {
        $submitButton.
          addClass('is-disabled').
          prop('disabled', true).
          text("${_(u'Processing your account information…')}");
      }
    }
  </script>
</%block>

<div>
  <div class="ui-header ui-bar-a" role="banner" data-role="header" data-theme="a">
    <div class="class_title">登录校盾账户</div>
  </div>
</div>

<section class="class_m20">
  <p class="center">
    <img src="/static/images/xdlogo.png"/>
  </p>

  <section class="content">
    <form role="form" id="login-form" method="post" data-remote="true" action="login_ajax" novalidate>
      <p class="message submission-error">
        <span class="message-copy"></span>
      </p>
      <p><input name="email" type="email" class="input" placeholder="请输入您的电子邮件" value=""></p>
      <p><input name="password" type="password" class="input" placeholder="请输入您的密码" value=""></p>
      % if course_id:
        <p><input type="hidden" name="course_id" value="${course_id | h}"></p>
      % endif
      <section class="about">
        <p><input name="remember" type="checkbox" value="true" checked><span class="loginarea">记住我<span></p>
        <p class="not-registered">尚未注册？<a href="/m/register">现在注册加入校盾</a>！</p>
      </section>
      <div class="form-actions">
        <button name="submit" type="submit" id="submit" class="action action-primary action-update" style="height: 40px; margin: 0px;"></button>
      </div>
    </form>
  </section>
</section>