<%!
    from django.core.urlresolvers import reverse
    from util.date_utils import get_time_display
    from django.utils.translation import ugettext as _
    from django.conf import settings
%>
<%namespace name='static' file='/static_content.html'/>

<%def name="make_chapter(chapter)">
  <div class="chapter" style="min-width: 20px">
      <%
          if chapter.get('active'):
              aria_label = _('{chapter}, current chapter').format(chapter=chapter['display_name'])
              active_class = ' class="active"'
          else:
              aria_label = chapter['display_name']
              active_class = ''
      %>

      <h3 ${active_class} aria-label="${aria_label}">
        <a href="#">
          ${chapter['display_name']}
        </a>
      </h3>

    <ul>
      % for section in chapter['sections']:
          <li class="${'active' if 'active' in section and section['active'] else ''} ${'graded'  if 'graded' in section and section['graded'] else ''}">
            <a>
              <p>${section['display_name']} ${'<span class="sr">, current section</span>' if 'active' in section and section['active'] else ''}</p>
              <%
                if section.get('due') is None:
                    due_date = ''
                else:
                    formatted_string = get_time_display(section['due'], due_date_display_format, coerce_tz=settings.TIME_ZONE_DISPLAYED_FOR_DEADLINES)
                    due_date = '' if len(formatted_string)==0 else _('due {date}').format(date=formatted_string)
              %>
              <%
                show_img = ''
                %>
              <p class="subtitle">${section['format']} ${due_date}</p>
            </a>
               <div class="chapter">
                    <ul>
                    	<%
                    	from urllib import quote
                        course_id1 = quote(course_id.encode('utf-8'))
                    	%>
                      % for unit in section['units']:
                          <%

                            if unit['type'] == 'problem':
                                show_img = 'unit_homework.png'
                            elif unit['type'] == 'video':
                                show_img = 'unit_radio.png'
                            else:
                                show_img = 'unit_other.png'
                             
                          %>

                          <li class="${'active' if 'active' in section and section['active'] else ''} ${'graded'  if 'graded' in section and section['graded'] else ''}">
                           <!--<a href="${reverse('courseware_section', args=[course_id, chapter['url_name'], section['url_name']])}">-->
                            <a href="${reverse('courseware_unit', args=[course_id1, chapter['url_name'], section['url_name'], unit['location']])}/">
                                  <p>
                                      <img src="${static.url('images/'+ show_img)}" alt="pic">
                                      ${unit['display_name']} ${'<span class="sr">, current unit</span>' if 'active' in section and section['active'] else ''}</p>
                            </a>
                          </li>
                      % endfor
                    </ul>
                </div>


          </li>
      % endfor
    </ul>
  </div>
</%def>

% for chapter in toc:
    ${make_chapter(chapter)}
% endfor