<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if gt IE 9]><!--><html lang="${LANGUAGE_CODE}"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration import microsite %>
<%! from microsite_configuration import page_title_breadcrumbs %>

<%namespace name='static' file='/static_content.html'/>
<%! from django.utils import html %>

## Define a couple of helper functions to make life easier when
## embedding theme conditionals into templates. All inheriting
## templates have access to these functions, and we can import these
## into non-inheriting templates via the %namespace tag.
<%def name="theme_enabled()">
  <% return settings.FEATURES.get("USE_CUSTOM_THEME", False) %>
</%def>

## this needs to be here to prevent the title from mysteriously appearing in the body, in one case
  <%static:js group='main_vendor'/>
  <!--[if lt IE 9]>
    <script src="${static.url('js/html5shiv.js')}"></script>
  <![endif]-->

  <meta name="path_prefix" content="${EDX_ROOT_URL}">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY" />
  % if not course:
    <%include file="${google_analytics_file}" />
  % endif

  <%include file="/widgets/segment-io.html" />

</head>
<body>
  <div class="content-wrapper" id="content">
    ${self.body()}
    <%block name="bodyextra"/>
  </div>
  <script>window.baseUrl = "${settings.STATIC_URL}";</script>
  <%static:js group='application'/>
  <%static:js group='module-js'/>
  <%block name="js_extra"/>
</body>
</html>




