// studio - elements - global footer
// ====================

/*edit-lisa*/
.wrapper-footer{
      position:relative;width:100%;padding:20px; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f0f0f0,endColorStr=#ffffff);
      /*IE6*/background:-moz-linear-gradient(top,#f0f0f0,#ffffff);/*非IE6的其它*/background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#ffffff));
      border-top:#fa6727 solid 3px;}
.wrapper-footer footer.primary{
      *zoom:1;max-width:1280px;min-width:900px;width:100%;margin:0 auto;color:#989898
      }
.wrapper-footer footer.primary:before,.wrapper-footer footer.primary:after{content:" ";display:table}
.wrapper-footer footer.primary:after{clear:both}
.wrapper-footer footer.primary .colophon{width:100%;float:left; text-align:center; line-height:24px;font-size:13px;}