<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>

    <table>
        <tr>
            <td colspan="3" style="align:left"><h5><strong>一 .运行环境</strong></h5><br></td>
        </tr>
        <tr>
            <td><p>1、</p></td>
            <td><p>Q：</p></td>
            <td><p>运行校盾学习平台需要的计算机设备或浏览器?</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td>
                <p>你需要一个稳定的互联网连接，计算机建议至少1 GB的内存。<br>
                我们支持以下浏览器:<br>
                •Google Chrome(24及以上版本)。<br>
                •Firefox(23及以上版本)<br>
                •Safari(6.0 及以上版本)<br>
                •Internet Explorer(9.0及以上版本)<br>
                请及时更新您的浏览器,以避免技术问题!</p>
            </td>
        </tr>
        <tr>
            <td><p>2、</p></td>
            <td><p>Q：</p></td>
            <td><p>视频连接时出现异常状况，该如何解决？</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>针对使用部分浏览器如Chrome时，有出现只有图像没有声音的情况，请在浏览器的 设置 - 显示高级设置 中，将使用硬件加速模式（如果可用）一项取消勾选，并
           重新启动浏览器，即可正常观看；<br>同时针对您的网络具体情况，可能对视频播放造成影响，建议联系网络服务商或与我们联系（EMAIL：service@diandiyun.com)，我们将帮您解决问题。</p>
            </td>
        </tr>

        <tr>
            <td colspan="3" style="align:left"><h5><strong>二、课程内容</strong></h5></td>
        </tr>
         <tr>
            <td><p>1、</p></td>
            <td><p>Q：</p></td>
            <td><p>校盾计划课程包括哪些内容？</p></td>
        </tr>
         <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>包括安全管理，技术初级、技术中级、技术高级几类。</p></td>
        </tr>
        <tr>
            <td><p>2、 </p></td>
            <td><p>Q：</p></td>
            <td><p>我可以下载课程视频吗?</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A: </p></td>
            <td><p>可以。您可以从视频播放页面下载视频文件和其他视频资源。</p></td>
        </tr>

            <tr>
            <td><p>3、</p></td>
            <td><p> Q：</p></td>
            <td><p>学堂在线的课程多久更新一次？</p></td>
        </tr>
            <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>根据课件上传情况定期更新。</p></td>
        </tr>

        <tr>
            <td colspan="3"><h5><strong>三、课程政策</strong></h5></td>
        </tr>
        <tr>
            <td><p>1、 </p></td>
            <td><p>Q：</p></td>
            <td><p>参加学习一个课程后，我必须完成所有的作业吗?</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>不是。您可以参加任何课程，并在满足讲师提出的相关政策要求后，更有希望获得一个证书。</p></td>
        </tr>
        <tr>
            <td><p>2、 </p></td>
            <td><p>Q：</p></td>
            <td><p>我能修一门课程多次吗?</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p> 课程可以重修的，只要您参考相关程序，提交作业内容材料。</p></td>
        </tr>
        <tr>
            <td><p>3、</p></td>
            <td><p>Q：</p></td>
            <td><p>我可以参加多少课程?</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>按您的意愿决定。</p></td>
        </tr>
        <tr>
            <td><p>4、 </p></td>
            <td><p>Q：</p></td>
            <td><p>如果我在校盾学习平台修完一门课，会获得证书吗？</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p> A：</p></td>
            <td><p>在校盾学习平台修完相关课程并通过考核之后，可以得到证书。</p></td>
        </tr>

    </table>
</section>
