<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>
<p>

<h5>一 .运行环境</h5>
    <br>

1、Q：运行校盾计划平台需要的计算机设备或浏览器?<br>
   A：你需要一个稳定的互联网连接，计算机建议至少1 GB的内存。<br>
我们支持以下浏览器:<br>
•Google Chrome(24及以上版本)。<br>
•Firefox(23及以上版本)<br>
•Safari(6.0 及以上版本)<br>
•Internet Explorer(9.0及以上版本)<br>
请及时更新您的浏览器,以避免技术问题!<br>

Q：视频连接时出现不正常状况，该如何解决？<br>
   A: 针对使用部分浏览器如Chrome时，有出现只有图像没有声音的情况，请在浏览器的 设置 - 显示高级设置 中，将 使用硬件加速模式（如果可用）一项取消勾选，并重新启动浏览器，即可正常观看；<br>
    同时针对您的网络具体情况，可能对视频播放造成影响，建议联系网络服务商或与我们联系（EMAIL：abc@abc.com)，我们将帮您解决问题。<br>

Q：<br>

</p>
</section>
