<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about">
<h1>${_("Terms of Service")}</h1>

    <div style="text-indent: 2em">

    <div><p>请仔细阅读“校盾学习平台通行服务条款” （以下亦称“本条款”），
        如您（亦称“用户”）阅读后通过点选本条款下方的“同意”按钮而自愿接受本条款的约束，本条款就构成您与“校盾学习平台”直接有约束力的法律文件。</p></div>
            <br>
    <h5><strong>通用条款</strong></h5>
        <br>
    <div><p>校盾学习平台按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务（以下称“网络服务”），
            为获得网络服务，服务使用人（以下称“用户”）应当同意本协议的全部条款并按照页面上的提示完成全部的注册程序。
            用户在进行注册程序过程中勾选“我同意<a href="/tos">服务条约</a>”
            选项即表示用户完全接受本协议项下的全部条款。</p></div>
        <br>
    <p>1、用户注册成功后，校盾学习平台将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；
        用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p><br>
    <p>2、校盾学习平台网络服务的具体内容根据实际情况提供，例如课程学习、课程搜索、发表评论等。</p><br>
    <p>3、如发生下列任何一种情形，校盾学习平台有权随时中断或终止向用户提供本协议项下的网络服务，并且无需对用户或任何第三方承担任何责任：</p><br>
    <div><p>3.1 用户提供的个人资料不真实；</p></div><br>
    <div><p>3.2 用户违反本协议中规定的使用规则；</p></div><br>
    <div><p>3.3 用户注册的帐号昵称如存在违反法律法规或国家政策要求，或侵犯任何第三方合法权益的情况，校盾学习平台有权收回该账号昵称。</p></div><br>
    <p>4、用户在此同意，如您在连续180天内未登录您在校盾平学习平台的注册账号，则校盾学习平台有权根据自己的判定，注销用户在校盾学习平台的注册账号。</p><br>
    <p>5、用户承诺不在注册、使用校盾学习平台提供的账号从事下列行为：</p><br>
    <div><p>5.1故意冒用他人信息为您注册校盾学习平台账号；</p></div><br>
    <div><p>5.2未经他人合法授权以他人名义注册校盾学习平台账号；</p></div><br>
    <div><p>5.3使用侮辱、诽谤、色情等违反公序良俗的词语注册校盾学习平台账号。</p></div><br>
    <div><p>用户在此同意，校盾学习平台有权根据自己的判定，对违反上述条款的用户拒绝提供账号注册或取消该账号的使用。</p></div><br>

    <h5><strong>管理规定</strong></h5>
    <br>
    <p>1、用户注册校盾学习平台账号，制作、发布、传播信息内容的，应当使用真实身份信息，不得以虚假、冒用的居民身份信息、企业注册信息、组织机构代码信息进行注册。</p>
    <p>2、如用户违反前述条款之约定，依据相关法律、法规及国家政策要求，校盾学习平台有权随时中止或终止用户对校盾学习平台网络服务的使用且不承担违约责任。</p>
    <p>3、校盾学习平台将建立健全用户信息安全管理制度、落实技术安全防控措施。同时对用户使用各项网络服务过程中涉及的用户隐私内容加以保护。</p>
    <br>
    <h5><strong>知识产权</strong></h5>
        <br>
    <p>1、校盾学习平台提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，
        未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。
        所有这些资料或资料的任何部分仅可作为私人和非商业用途而保存在某台计算机内。
        校盾学习平台不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损害赔偿，
        以任何形式，向用户或任何第三方负责。</p>
    <p>2、校盾学习平台为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序及随附的帮助材料）
        的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，您不得对该软件进行反向工程、反向编译或反汇编，
        或以其他方式发现原始编码，否则您应为此向该软件的著作权人承担相应的法律责任。</p>
    <br>
    <h5><strong>免责声明</strong></h5>
    <br>
    <p>1、校盾学习平台对于任何因此获得的信息、内容或者广告宣传等任何资讯（以下统称“信息”），不保证真实、准确和完整性。
        如果任何单位或者个人通过上述信息而进行任何行为，须自行甄别真伪和谨慎预防风险，否则，无论何种原因，
        校盾学习平台不对任何非与校盾学习平台直接发生的交易和/或行为承担任何直接、间接、附带或衍生的损失和责任。</p>
    <p>2、校盾学习平台不对包括但不限于以下情形负责：</p>
    <div><p>2.1 校盾学习平台完全适合用户的使用要求；</p></div>
    <div><p>2.2 校盾学习平台不受任何干扰、及时、安全、可靠且不出现任何错误；</p></div>
    <div><p>2.3 用户经由校盾学习平台取得的任何服务或其他材料符合用户的期望。</p></div>
    <p>3、用户使用经由校盾学习平台下载的或取得的任何资料，其风险自行负担；因该等使用导致用户电脑系统损坏或资料流失，用户应负完全责任；</p>
    <p>4、基于以下原因而造成的利润、商业信誉、资料损失或其他有形或无形损失，校盾学习平台不承担任何直接、间接的赔偿：</p>
    <div><p>4.1 校盾学习平台使用或无法使用；</p></div>
    <div><p>4.2 经由校盾学习平台取得的任何资料或服务；</p></div>
    <div><p>4.3 用户资料遭到未经授权的使用或修改；</p></div>
    <div><p>4.4 其他与校盾学习平台相关的事宜。</p></div>
    <br>

    <h5><strong>法律管辖</strong></h5>
    <br>
    <p>1、本条款的生效、履行、解释及争议的解决均适用中华人民共和国法律。</p>
    <p>2、如就本条款内容或其执行发生任何争议，应尽量友好协商解决；协商不成时，则争议各方均同意将争议提交校盾学习平台注册地人民法院诉讼解决。</p>
    <br>
    <div><font color="red">特别提示：您在进行注册之前，请确保您本人已经完全理解并接受本条款所有条款（尤其是免责条款）。
        一旦您正式注册，则表明您已经完全理解并接受本条款所有条款，尤其是免责和责任限制条款。</font>

    </div>
    </div>
</section>
