<%inherit file="main.html" />
<%! from microsite_configuration import microsite %>
<%namespace name='static' file='static_content.html'/>

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>

<%block name="pagetitle"></%block>

<%block name="bodyclass">view-login</%block>

<%block name="js_extra">
  <script type="text/javascript">
  </script>
</%block>
<link rel="stylesheet" href="/static/css/header/header.css" />
<section>
  <%include file="xiaodun_navigator.html" />
</section>

<section class="introduction">
  <header>
    <h1 class="title">
      <span class="title-super">校盾授权成功！</span>
    </h1>
  </header>
</section>

<section class="login container">
  <section role="main" class="content">
  </section>
</section>

