<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "XNaiOGxWeto")

  show_partners = microsite.get_value('show_partners', True)

%>
<script language="text/javascript">
function chkform(){
    var addform= document.queryform;
    if (addform.query.placeholder=="请输入关键字..."){
        addform.query.value=""
        return true;
    }
}
</script>
<section class="home">
<!--hfy-html begin-->
<link rel="stylesheet" href="static/css/header/header.css" />
  <div class="header-navigation">
      <div class="header-wall">
         <a class="line" href="http://www.xiaodun.cn/index.html">首页</a>
         <a class="line" href="http://www.xiaodun.cn/course.html">课程</a>
         <a class="line" href="http://www.xiaodun.cn/base.html">基地</a>
         <a class="line" href="http://www.xiaodun.cn/announcement.html">公告</a>
         <a class="line" href="http://www.xiaodun.cn/service.html">服务</a> 
         <a class="none" href="http://www.xiaodun.cn/about.html">关于</a>
      </div>
  </div>
  <!--hfy-html end-->
  <header>
    <div class="outer-wrapper">
      <div class="title">
        <hgroup>
          % if homepage_overlay_html:
            ${homepage_overlay_html}
          % else:
            % if self.stanford_theme_enabled():
              <h1>${_("Free courses from <strong>{university_name}</strong>").format(university_name="Stanford")}</h1>
            % else:
              <h1>${_("For anyone, anywhere, anytime")}</h1>
            % endif

          % endif
            <form name="queryform" class="search-container search" action="/courses" method="get" id="search-form" onsubmit="return chkform();">
              <!--<input id="search-query" name="query" onfocus="if (value =='请输入关键字...'){value =''}" onblur="if (value ==''){value='请输入关键字...'}" value=""  type="text" width="340px">-->
              <input id="search-query" name="query" onfocus="placeholder =''" value=""  onblur="placeholder='请输入关键字...'"  placeholder="请输入关键字..." type="text" width="340px">
                 <ul class="search-menu" style="display: none;">
                 </ul>
              <input value="搜索" type="submit">
            </form>
        </hgroup>

        ## Disable social buttons for non-edX sites
        % if not self.theme_enabled():
          <section class="actions">
            <div class="main-cta">
              <a href="#signup-modal" id="signup_action" class="find-courses" rel="leanModal">${_("Sign Up")}</a>
            </div>

            <div class="secondary-actions">
              <div class="social-sharing">
                <div class="sharing-message">${_("Stay up to date with all {platform_name} has to offer!").format(platform_name=settings.PLATFORM_NAME)}</div>
                <a href="https://twitter.com/edXOnline" class="share">
                  <img src="${static.url('images/social/twitter-sharing.png')}">
                </a>
                <a href="http://www.facebook.com/EdxOnline" class="share">
                  <img src="${static.url('images/social/facebook-sharing.png')}">
                </a>
                <a href="https://plus.google.com/108235383044095082735/posts" class="share">
                  <img src="${static.url('images/social/google-plus-sharing.png')}">
                </a>
              </div>
            </div>
          </section>
          % endif
      </div>
    </div>
  </header>

  <section class="container">
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
            %for course in courses:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
        </section>
      % endif

    </section>
  </section>
</section>

<!--section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section-->

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
