<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>

% if has_extauth_info is UNDEFINED:

<div class="cta">
  <h3>${_("Already registered?")}</h3>
  <p class="instructions">
    <a href="${reverse('signin_user')}${login_query()}">
      ${_("Click here to log in.")}
    </a>
  </p>
</div>

% endif

## TODO: Use a %block tag or something to allow themes to
##       override in a more generalizable fashion.
% if not stanford_theme_enabled():
  <div class="cta cta-welcome">
    <h3>欢迎来到校盾计划</h3>
    <p>
      注册校盾账号，您可以访问平台的免费课程，课程通知会即时发送您的注册邮箱
    </p>
  </div>
% endif

<div class="cta cta-nextsteps">
  <h3>${_("Next Steps")}</h3>
  <p>
      请填写真实邮箱，注册后到邮箱点击激活链接完成注册
  </p>
</div>

% if settings.MKTG_URL_LINK_MAP.get('FAQ'):
  <div class="cta cta-help">
    <h3>${_("Need Help?")}</h3>
    <p>
      <a href="${marketing_link('FAQ')}">
          ${_("View our FAQs for answers to commonly asked questions.")}
      </a>
      <!--
       ${_("Once registered, most questions can be answered in the course specific discussion forums or through the FAQs.")}
      -->
    </p>
  </div>
% endif
