
  <div class="header-navigation">
      <div class="header-wall">
         <a class="line" href="http://www.xiaodun.cn/cms/">首页</a>
         <a class="line" href="/lead/courses">课程</a>
         <a class="line" href="http://www.xiaodun.cn/cms/content/base/">基地</a>
         <a class="line" href="http://www.xiaodun.cn/cms/content/announcement/">公告</a>
         <a class="line" href="http://www.xiaodun.cn/cms/content/service/">服务</a>
         <a class="none" href="http://www.xiaodun.cn/cms/content/about/">关于</a>
      </div>
  </div>